################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Microservices
/.vs/ECommerce/FileContentIndex/aa9dc2ae-f7fb-404c-8a2a-b1833f7b1948.vsidx
/.vs/ECommerce/FileContentIndex/b819e672-b8fa-4ead-9a85-c5f21fe5dab9.vsidx
/.vs/ECommerce/FileContentIndex/dc839cb7-88fd-4e7b-b542-41cada2369d3.vsidx
/.vs/ECommerce/FileContentIndex/e649af01-2364-448f-8ba6-5076a138533e.vsidx
